body {
  max-width: 768px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 40px;
  font-family: Roboto;
}

img {
  width: 100%;
}

.title-area > div {
  padding: 0;
}

.title-area {
  border-bottom: 5px solid #7d97ad;
  margin-left: 0;
  margin-right: 0;
}

.title-logo {
  max-width: 84px;
  max-height: 84px;
  margin-top: 15px;
  padding: 10px;
}

.title-super {
  font-size: 48px;
  font-weight: 100;
  color: #2d3c49;
}

.title-sub {
  margin-top: -2px;
  font-size: 18px;
}

.social {
  text-align: right;
}

.social a:hover {
  text-decoration: none;
}

.social > a > img {
  height: 28px;
  width: 28px;
  margin: 15px 0 10px 35px;
  opacity: .2;
}

.social > a > img:hover {
  opacity: .7;
}

.content-area {
  width: 100%;
  color: #2d3c49;
  margin-top: 30px;
}

.featured {
  padding-top: 10px;
}

.featured .row {
  margin-bottom: 40px;
}

.featured section {
  margin: 5x;
  padding: 10px;
}

.featured section:hover {
  background-color: rgba(51, 170, 238, 0.5);
}

.featured-title {
  font-size: 40px;
  font-weight: 300;
  padding: 20px 0;
}

.project-name {
  font-size: 24px;
}

.project-link {
  text-decoration: none;
  font-size: 14px;
  color: #2d3c49;
  cursor: pointer;
}

.project-link:hover {
  text-decoration: none;
}

.project-link img {
  height: 200px;
  width: 300px;
}
