{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h4 class="title">Add a New Menu Item</h4>
  </div>

  <form class="edit-form" action="{{ url_for('newMenuItem', restaurant_id=restaurant_id) }}" method='POST'>
    <label>Name:</label>
    <input type='text' class="form-control" name='name' />

    <label>Price:</label>
    <input type='text' class="form-control" name='price' />

    <label>Description:</label>
    <input type='text' class="form-control" name='description' />

    <label>Course:</label>
    <div class="radio-group">
      <input type='radio' name='course' value='Appetizer' />
      <label>Appetizer</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Entree' />
      <label>Entree</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Dessert' />
      <label>Dessert</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Beverages' />
      <label>Beverages</label>
    </div>

    <button type='submit' class="btn btn-info delete-btn">Submit</button>
  </form>

{% endblock %}
