* {
  font-family: Open Sans;
  font-weight: 400;
  letter-spacing: 1.5px;
}

html {
  max-width: 70%;
  margin: 0 auto;
}

.title {
  background-color: #33BEBE;
  padding-top: 20px;
  padding-left: 10px;
  margin-bottom: 30px;
  color: #FFFFFF;
}

.app {
  display: -webkit-flex;
  display: flex;
}

.screenshot img {
  max-width: 460px;
  width: 250px;
}

.description {
  max-width: 705px;
  margin-left: 20px;
  color: #7C8B88;
}
