html, body {
  font-family: Open Sans;
  color: #444444;
}

input[type='text'] {
  border-radius: 0 !important;
  font-style: italic;
}

a {
  text-decoration: none;
}

hr {
  margin-top: 5px;
  margin-bottom: 15px;
}

ul li:hover {
  background-color: rgba(255,211,118,0.4);
}

.wrap {
  flex-wrap: wrap;
}

.container-fluid {
  width: 50%;
  padding: 0;
}

.alert {
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn {
  margin-left: 8px;
  border-radius: 0 !important;
}

.add-btn {
  align-self: center;
  background-image: none;
  margin-top: 5px;
}

.delete-btn {
  margin: 0;
}

.navbar {
  background-image: url('../img/illustrations/background.png');
  background-repeat: repeat;
  padding: 8px;
}

.navbar-brand {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.navbar-img {
  height: 100%;
}

.navbar-title {
  margin-top: 5px;
  margin-left: 10px;
  align-self: center;
  font-family: Coming Soon, sans-serif;
  font-size: 28px;
  font-weight: bold;
  color: #444444;
}

.navbar-form {
  display: flex;
  padding-right: 10px;
}

.search-form {
  margin-top: 2px;
  margin-right: 25px;
}

.icon-img {
  height: 16px;
  width: 16px;
  margin-top: -2px;
  margin-right: 5px;
}

.profile-img {
  margin-right: 10px;
  height: 40px;
  border-radius: 100%;
}

.creator-img {
  margin-left: 5px;
  height: 22px;
  border-radius: 100%;
}

.content {
  width: 50%;
  margin: 50px auto;
}

.header {
  display: flex;
  margin-bottom: 30px;
}

.header-buttons {
  margin-left: -8px;
}

.title {
  flex: 1;
  font-size: 28px;
}

.list-group-item {
  border-radius: 0 !important;
}

.restaurant {
  display: flex;
  align-items: center;
  width: 100%;
}

.restaurant-title {
  flex: 1;
  font-size: 38px;
  margin-bottom: 24px;
}

.restaurant-category {
  margin-bottom: 20px;
}

.restaurant h4 {
  flex: 1;
}

.edit-form > * {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
}

.edit-form > .form-control {
  width: 300px;
}

.course {
  margin-top: 30px;
  font-size: 20px;
}

.menu {
  display: flex;
  align-items: center;
  width: 100%;
}

.menu-content {
  display: block;
  align-items: center;
  flex: 1;
}

.price {
  margin-top: 1px;
  font-style: italic;
  font-size: 14px;
  font-weight: bold;
}

.description {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #7e7e7e;
}

.creator {
  font-style: italic;
  font-weight: bold;
  color: #42366f;
}

.radio-group:not(:first-of-type) {
  margin-top: 5px;
}

.radio-group label {
  margin-left: 5px;
}

.login-page {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-image: url('../img/illustrations/background.png');
  background-repeat: repeat;
  padding: 100px;
}

.login-area {
  height: 300px;
  width: 500px;
  padding: 30px 20px;
  background-color: #ffffff;
  border: 2px solid #ffd376;
  border-radius: 8px;
  text-align: center;
}

.login-button-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-button {
  margin: 10px;
}

.login-link {
  margin-top: 9px;
  font-size: 14px;
  font-weight: bold;
}

.login-link a {
  color: #333333;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 40px;
}

.logo-img {
  height: 56px;
  width: 56px;
  margin: 15px;
}

.logo-title {
  font-size: 52px;
  font-weight: bold;
  font-family: Coming Soon, sans-serif;
  margin-top: 5px;
}

.result {
  margin-top: 30px;
  font-size: 18px;
  font-style: italic;
}

.dropdown-menu {
  margin-top: 18px;
  text-align: right;
}

.dropdown-menu:before {
  position: absolute;
  top: -7px;
  right: 19px;
  display: inline-block;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #ccc;
  border-left: 7px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  content: '';
}

.dropdown-menu:after {
  position: absolute;
  top: -6px;
  right: 20px;
  display: inline-block;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  border-left: 6px solid transparent;
  content: '';
}

@media (max-width: 1024px) {
  .container-fluid {
    width: 90%;
  }

  .content {
    width: 90%;
  }
}
