body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;

  width: 60%;
  margin: 50px auto;
  padding: 10px;
  color: #333;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.error {
  color: red;
}

label {
  display: block;
  font-size: 20px;
}

label + label {
  margin-top: 20px;
}

input[type=text] {
  width: 500px;
  font-size: 20px;
  padding: 2px;
  font-family: monospace;
}

textarea {
  width: 500px;
  height: 400px;
  font-size: 17px;
  font-family: monospace;
}

input[type=submit] {
  font-size: 24px;
}

.main-title {
  color: #222;
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 25px;
  text-decoration: none;
}

.menubar {
  margin-bottom: 20px;
}

hr {
  margin-top: -12px;
  margin-bottom: 30px;
}

ul {
  padding-left: 0;
}

ul > li {
  display: inline-block;
  list-style: none;
  margin: 5px 20px 5px 0;
}

ul > li > a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.post {
  display: flex;
  margin-top: 10px;
}

.post + .post {
  margin-top: 15px;
}

.post-heading {
  position: relative;
}

.post-title {
  font-size: 24px;
  font-weight: bold;
}

.post-date {
  position: absolute;
  right: 0px;
  bottom: 3px;
  color: #999;
}

.post-votes {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  justify-content: center;
  margin-right: 25px;
}

.post-votes button {
  border: none;
  background-color: transparent;
}

.post-votes .votes {
  align-self: center;
  font-size: 18px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.post-votes img {
  height: 32px;
}

.post-content {
  margin-top: 5px;
}

.read-more {
  margin-top: 10px;
  text-align: right;
}

.read-more a {
    text-decoration: none;
    color: #3d9bfa;
}
