<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Breadcrumbs | Admin</title>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

    <!-- Font import -->
    <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans:400,300|Roboto+Condensed:400,300">
    <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

    <!-- Local css -->
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>

    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">
            <img class="navbar-img" src="/static/img/icons/icn-crumbs.png" alt="Brand" />
            <span class="navbar-title">Breadcrumbs</span>
          </a>
        </div>
        <div class="navbar-form navbar-right">
          <form class="search-form" action="{{url_for('searchCategory')}}" method='POST'>
            <input type='text' class="form-control" name='search' placeholder='Search Category' />
          </form>
          {% if 'username' not in session %}
            <div class="login-link">
              <a href="{{url_for('showLogin')}}">Sign Up/Login</a>
            </div>
    			{% else %}
            <div class="dropdown">
              <a
                class="dropdown-toggle pull-right"
                type="button"
                id="profile"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="true">
                <img class="profile-img" src="{{session.picture}}" alt="Profile Picture" />
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="profile">
                <li><a href="#">Profile Settings</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{{url_for('disconnect')}}">Logout</a></li>
              </ul>
            </div>
    			{% endif %}
        </div>
      </div>
    </nav>

    <div class="content">
      {% block content %}
      {% endblock %}
    </div>

    <script type="text/javascript">
      $(".alert").fadeTo(3000, 500).slideUp(500, function(){
        $(".alert").alert('close');
      });
    </script>
  </body>
</html>
