{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h4 class="title">Delete Menu Item</h4>
  </div>

  <h4 style="margin-bottom: 30px;">
    Are you sure you want to delete
    <em>{{menuItem.name}}</em>?
  </h4>

  <form action="{{url_for('deleteMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}" method='POST'>
    <input type='submit' class="btn btn-danger delete-btn" value="Delete" />
    <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
  </form>

{% endblock %}
