{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h4 class="title">Edit Menu Item</h4>
  </div>

  <form class="edit-form" action="{{url_for('editMenuItem', restaurant_id=restaurant_id, menu_id=menu_id)}}" method='POST'>
    <label>Name:</label>
    <input type='text' class="form-control" name='name' value="{{menuItem.name}}" />

    <label>Price:</label>
    <input type='text' class="form-control" name='price' value="{{menuItem.price}}" />

    <label>Description:</label>
    <textarea class="form-control" name="description" rows="3" cols="40">{{menuItem.description}}</textarea>

    <label>Course:</label>
    <div class="radio-group">
      <input type='radio' name='course' value='Appetizer' checked required/>
      <label>Appetizer</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Entree' />
      <label>Entree</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Dessert' />
      <label>Dessert</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Beverages' />
      <label>Beverages</label>
    </div>

    <div class="button-area">
      <input type='submit' class="btn btn-info delete-btn" value="Save" />
      <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
    </div>

  </form>

{% endblock %}
