<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Breadcrumbs | Login</title>

  <!-- Favicon -->
  <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/static/img/favicon.ico" type="image/x-icon">

  <!-- Font import -->
  <link rel='stylesheet' type='text/css' href="https://fonts.googleapis.com/css?family=Open+Sans:400,300|Roboto+Condensed:400,300">
  <link href='https://fonts.googleapis.com/css?family=Coming+Soon' rel='stylesheet' type='text/css'>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

  <!-- Local css -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">

  <!-- jQuery  -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

  <!--LOAD PRE-REQUISITES FOR GOOGLE SIGN IN -->
  <script src="//apis.google.com/js/platform.js?onload=start"> </script>
</head>
<body>
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '657762331041784',
        xfbml      : true,
        version    : 'v2.6'
      });
    };

    (function(d, s, id){
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>

  <div class="login-page">
    <div class="login-area">
      <div class="logo">
        <img class="logo-img" src="/static/img/icons/icn-crumbs.png" alt="Logo" />
        <div class="logo-title">Breadcrumbs</div>
      </div>

      <div class="login-button-area">
        <div id="g-signin" class="login-button">
          <span
            class="g-signin"
            data-scope="openid email"
            data-clientid="1016871745581-rg19pml9amca2ecjouhhcor1ch6ti1lh.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">
          </span>
        </div>

        <!-- <div id="fb-signin" class="login-button">
          <fb:login-button size="large" scope="public_profile,email" onlogin="sendTokenToServer();">
            <a href='javascript:sendTokenToServer()'>Continue with Facebook</a>
          </fb:login-button>
        </div> -->
      </div>

      <div class="result"></div>

  </div>

  <script>
    function signInCallback(authResult) {
      if (authResult['code']) {
        $('#g-signin').attr('style', 'display: none');
        $('.result').html('Logging in...');
        $.ajax({
          type: 'POST',
          url: '/gconnect?state={{STATE}}',
          processData: false,
          data: authResult['code'],
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            if (result) {
              $('.result').html('Redirecting...');
              setTimeout(function() {
                window.location.href = "/";
              }, 1000);
            } else if (authResult['error']) {
              console.log('There was an error: ' + authResult['error']);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          }
        });
      }
    }
  </script>

  <script>
    function sendTokenToServer() {
      var access_token = FB.getAuthResponse()['accessToken'];
      console.log(access_token)
      console.log('Welcome!  Fetching your information.... ');
      FB.api('/me', function(response) {
        $('#fb-signin').attr('style', 'display: none');
        console.log('Successful login for: ' + response.name);
        $.ajax({
          type: 'POST',
          url: '/fbconnect?state={{STATE}}',
          processData: false,
          data: access_token,
          contentType: 'application/octet-stream; charset=utf-8',
          success: function(result) {
            if (result) {
              $('.result').html('Redirecting...')
              setTimeout(function() {
                window.location.href = "/restaurants";
              }, 4000);
            } else {
              $('#result').html('Failed to make a server-side call. Check your configuration and console.');
            }
          }
        });
      });
    }
  </script>
</body>
</html>
