{% extends "base.html" %}

{% block content %}

  <h2 class="restaurant-title" style="margin-top:20px">{{restaurant.name}}</h2>
  <p>Category: {{restaurant.category}} | Created by
    <img class="creator-img" src="{{creator.picture}}" alt="Profile Picture" />
    <span class="creator">{{creator.name}}.</span>
  </p>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% for message in messages %}
        <strong>{{message}}</strong>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

  <div class="row">
    <div class="col-xs-4 appetizer">
      <div class="course">Appetizer</div>
      <hr>
      <ul class="list-group">
        {% for item in menu %}
          {% if item.course == "Appetizer" %}
            <li class="well menu">
              <div class="menu-content">
                <h4>{{item.name}}</h4>
                <div class="price">{{item.price}}</div>
                <div class="description">{{item.description}}</div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-4 entree">
      <div class="course">Entree</div>
      <hr>
      <ul class="list-group">
        {% for item in menu %}
          {% if item.course == "Entree" %}
            <li class="well menu">
              <div class="menu-content">
                <h4>{{item.name}}</h4>
                <div class="price">{{item.price}}</div>
                <div class="description">{{item.description}}</div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>

    <div class="col-xs-4">
      <div class="dessert">
        <div class="course">Dessert</div>
        <hr>
        <ul class="list-group">
          {% for item in menu %}
            {% if item.course == "Dessert" %}
              <li class="well menu">
                <div class="menu-content">
                  <h4>{{item.name}}</h4>
                  <div class="price">{{item.price}}</div>
                  <div class="description">{{item.description}}</div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="beverages">
        <div class="course">Beverages</div>
        <hr>
        <ul class="list-group">
          {% for item in menu %}
            {% if item.course == "Beverages" %}
              <li class="well menu">
                <div class="menu-content">
                  <h4>{{item.name}}</h4>
                  <div class="price">{{item.price}}</div>
                  <div class="description">{{item.description}}</div>
                </div>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>

  </div>

{% endblock %}
