{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h4 class="title">Add a New Menu Item</h4>
  </div>

  <form class="edit-form" action="{{url_for('newMenuItem', restaurant_id=restaurant.id)}}" method='POST'>
    <label>Name:</label>
    <input type='text' class="form-control" name='name' />

    <label>Price:</label>
    <input type='text' class="form-control" name='price' />

    <label>Description:</label>
    <textarea class="form-control" name="description" rows="3" cols="40"></textarea>

    <label>Course:</label>
    <div class="radio-group">
      <input type='radio' name='course' value='Appetizer' />
      <label>Appetizer</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Entree' />
      <label>Entree</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Dessert' />
      <label>Dessert</label>
    </div>
    <div class="radio-group">
      <input type='radio' name='course' value='Beverages' />
      <label>Beverages</label>
    </div>

    <div class="button-area">
      <input type='submit' class="btn btn-info delete-btn" value="Submit" />
      <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
    </div>

  </form>

{% endblock %}
