{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h4 class="title">Add a New Restaurant</h4>
  </div>

  <form class="edit-form" action="{{url_for('newRestaurant')}}" method='POST'>
    <label>Restaurant Name:</label>
    <input type='text' class="form-control" name='name' />
    <label>Restaurant Category:</label>
    <input type='text' class="form-control" name='category' />
    <div class="button-area">
      <input type='submit' class="btn btn-info delete-btn">
      <a href="javascript:history.back()" class="btn btn-default">Cancel</a>
    </div>
  </form>

{% endblock %}
