{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h4 class="title">Restaurant Manager</h4>
    <a href="{{url_for('newRestaurant')}}" class="btn btn-default add-btn">
      <img class="icon-img" src="/static/img/icons/icn-plus.png" />
      Add Restaurant
    </a>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% for message in messages %}
        <strong>{{message}}</strong>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

  <ul class="list-group">

    {% for restaurant in restaurants %}

      <li class="list-group-item restaurant">
        <h4>
          <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">
            {{restaurant.name}}
          </a>
        </h4>
        {% if user_id == restaurant.user_id %}
        <div class="button-area">
          <a href="{{url_for('editRestaurant', restaurant_id=restaurant.id)}}">Edit</a> |
          <a href="{{url_for('deleteRestaurant', restaurant_id=restaurant.id)}}">Delete</a>
        </div>
        {% endif %}
      </li>

    {% endfor %}

  </ul>

{% endblock %}
