{% extends "base.html" %}

{% block content %}

  <div class="header">
    <h4 class="title">Restaurant Manager</h4>
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {% for message in messages %}
        <strong>{{message}}</strong>
      {% endfor %}
    </div>
    {% endif %}
  {% endwith %}

  <ul class="list-group">

    {% for restaurant in restaurants %}

      <li class="list-group-item restaurant">
        <h4>
          <a href="{{url_for('showMenu', restaurant_id=restaurant.id)}}">
            {{restaurant.name}}
          </a>
        </h4>
      </li>

    {% endfor %}

  </ul>

{% endblock %}
