{% extends "base.html" %}

{% block content %}
  {{post.render() | safe}}
  <div class="manage">
      <ul>
          <li>
              <a href="/edit?id={{post.key().id()}}">
                  <img class="icon" src="/static/edit-icon.png" alt="Edit" />
                  <span>Edit</span>
              </a>
          </li>
          <li>
              <a href="/delete?id={{post.key().id()}}">
                  <img class="icon" src="/static/trash.png" alt="Delete" />
                  <span>Delete</span>
              </a>
          </li>
      </ul>
  </div>
  <div class="comment-area">
      <form method="post">
          <label>Add Comment:</label>
          <textarea name="comment"></textarea>
          <input class="submit-btn" type="submit" />
      </form>
  </div>
{% endblock %}
